{
    "sourceMaps": true,
    "presets": [
        "@babel/preset-env"
    ],
    "env": {
        "test": {
            "plugins": [
                "rewire"
            ]
        }
    },
    "plugins": [
        [
            "@babel/transform-runtime"
        ]
    ],
    "retainLines": true
}